@{
    ViewBag.Title = "Home Page";    
}
<div class="row ms-1">
    <div class="p-5 mb-4 rounded-3 transparent-item row">
        <div class="col-3">
            <img src="~/Content/Cv_photo.jpg" class="img-thumbnail rounded-circle" />
        </div>
        <div class="col-9">
            <h1 class="display-5 fw-bold">Parę słów o mnie</h1>
            <p class="col-md-8 fs-4 ">
                "Nazywam się Maciej Nowowiejski i mam @ViewBag.Age lat. Jestem aspirującym programistą C# i .NET. Programowaniem interesuję się od około 7 lat.
                Pisałem w róznych językach wliczając C++, Pacal, JAVA i JS ale zdecydowałem się pozostać przy C# i w tym rozwijam się. "
            </p>
        </div>
    </div>
</div>
<div class="row mb-4">
    <div class="col-12 text-center  transparent-item rounded-3 p-2">
        <span class="display-4 col-12 text-center fw-bolder">Tech Stack</span>  
    </div>
</div>
<div class="row">
    <div class="col-xl-4 col-sm-12 col-lg-4  col-md-6 mb-4 ps-1">
        <div class="p-4 mb-4 rounded-3 transparent-item row h-100 ms-1 me-1">
            <span class="fw-bold display-4 p-2">C#</span>
            <div class="progress p-0" style="height: 20px;">
                <div class="progress-bar " role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-sm-6 col-lg-4 col-md-4 mb-4 ps-1">
        <div class="p-4 mb-4 rounded-3 transparent-item row h-100 ms-1 me-1">
            <span class="fw-bold display-4 p-2">.NET</span>            
            <div class="progress p-0" style="height: 20px;">
                <div class="progress-bar" role="progressbar" style="width: 35%;" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-sm-6 col-lg-4 col-md-4 mb-4 ps-1">
        <div class="p-4 mb-4 rounded-3 transparent-item row h-100 ms-1 me-1">
            <span class="fw-bold display-4 p-2">SQL</span>
            <div class="progress p-0" style="height: 20px;">
                <div class="progress-bar" role="progressbar" style="width: 40%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-3 col-sm-6 col-lg-6 mb-4 ps-1">
        <div class="p-4 mb-4 rounded-3 transparent-item row h-100 ms-1 me-1">
            <span class="fw-bold display-6 p-2">Entity Framework</span>
            <div class="progress p-0" style="height: 20px;">
                <div class="progress-bar " role="progressbar" style="width: 40%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-lg-6 mb-4 ps-1">
        <div class="p-4 mb-4 rounded-3 transparent-item row h-100 ms-1 me-1">
            <span class="fw-bold display-6 mb-5 p-2">PHP</span>
            <div class="progress p-0" style="height: 20px;">
                <div class="progress-bar" role="progressbar" style="width: 20%;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-lg-6 mb-4 ps-1">
        <div class="p-4 mb-4 rounded-3 transparent-item row h-100 ms-1 me-1">
            <span class="fw-bold display-6 mb-5 p-2">CSS</span>
            <div class="progress p-0" style="height: 20px;">
                <div class="progress-bar" role="progressbar" style="width: 20%;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-lg-6 mb-4 ps-1">
        <div class="p-4 mb-4 rounded-3 transparent-item row h-100 ms-1 me-1">
            <span class="fw-bold display-6 mb-5 p-2">JS</span>
            <div class="progress p-0" style="height: 20px;">
                <div class="progress-bar" role="progressbar" style="width: 35%;" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>
</div>
<div class="row ps-2">
    <div class="row">
        <div class="col-lg-6 mb-4 ">
            <div class="p-5 mb-4 rounded-3 transparent-item row h-100 ms-1 me-1">
                <span class="fw-bold h2">Umiejętności z poza programowania</span>
                <div class="row">
                    <div class="col-4">
                        <span>Excel i VBA</span>
                    </div>
                    <div class="col-8">
                        Excela i VBA używam na codzień przy pracy administratora przy prowadzeniu dokumentacji. W celu ułatwienia pracy stworzyłem własny system formularzy z logowaniem.
                    </div>
                    <div class="col-4">
                        <span>PowerShell</span>
                    </div>
                    <div class="col-8">
                        Jedno z najpotężniejszych narzędzi administratora. Wykorzytuję skrypty PowerShell w celu automatyzacji zadań jak np. tworzenie kopii bezpieczeństwa, czy monitorowanie serwerów.
                    </div>
                    <div class="col-4 fs-6">
                        <span>Administrowanie Serwerwami Windows</span>
                    </div>
                    <div class="col-8">
                        Posiadam praktyczną wiedzę z administrowania Windows Server w tym IIS, ActiveDirector, Windows Task Scheduler, podstawy DNS i adresacji.
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-lg-6 mb-4 pe-2">
            <div class="p-5 mb-4 rounded-3 transparent-item row h-100 ms-1 me-1">
                <span class="fw-bold h2">Zainteresowania</span>
                <p class=" fs-6">
                   W czasie wolnym lubię programować i tworzyć programy/aplikacje do osobistego użytku codziennego.
                   Po za programowaniem lubię grać. Moje ulubione gatunki gier to : RPG, FPS, MMORPG, MOBA oraz Sandbox.
                   Śledzę też informacje ze świata i kolekcjonuję ciekawostki. Ciekawią mnie najnowsze rozwiązania technologiczne, 
                   które mają szansę zrewolucjonizować życie codzienne jakie znamy dzisiaj.
                   
                </p>
            </div>
        </div>
    </div>
</div>
