@{
    ViewBag.Title = "Home Page";
    
}
<div class="row ms-1">
    <div class="p-5 mb-4 rounded-3 transparent-item row">
        <div class="col-3">
            <img src="~/Content/Cv_photo.jpg" class="img-thumbnail rounded-circle"  />
        </div>
        <div class="col-9">
            <h1 class="display-5 fw-bold">Parę słów o mnie</h1>
            <p class="col-md-8 fs-4 ">
                "Nazywam się Maciej Nowowiejski i jestem programistą C# i .NET. Programowaniem interesuję się od paru lat. Próbowałem różnych języków i technologi .."
            </p>
        </div>
    </div>
</div>


<div class="row">
    <div class="row">
        <div class="col-5 ">
            <div class="p-5 mb-4 rounded-3 transparent-item row h-100">
                <h2 class="fw-bold">Lorem ipsum dolor sit amet</h2>
                    <p class=" fs-6">
                        Consectetur adipiscing elit. Aliquam consectetur rhoncus tellus vitae vulputate. Nunc euismod blandit nunc ac vulputate. Proin congue hendrerit mauris, bibendum lacinia lectus congue at. Pellentesque vel sollicitudin mauris. Sed rutrum tortor sem, et blandit dui vehicula vitae. Morbi condimentum, justo at imperdiet vulputate, ipsum erat imperdiet magna, eu tristique mi ante lobortis dolor. Suspendisse ut consectetur tellus. Nunc ultrices orci et libero finibus dignissim.
                    </p>
            </div>
        </div>
        <div class="col-2"></div>
        <div class="col-5">
            <div class="p-5 mb-4 rounded-3 transparent-item row h-100">                
                <h2 class="fw-bold">Donec condimentum</h2>
                    <p class=" fs-6">
                        ante non scelerisque ultrices. Ut rhoncus ex a elit maximus congue. Cras eu neque ac ante ultricies dapibus. Fusce laoreet efficitur quam ut pharetra. Praesent pellentesque, libero nec mattis sollicitudin, risus dolor tristique lacus, nec varius metus augue id libero. In hac habitasse platea dictumst. Donec eget tortor velit. Duis imperdiet urna sed enim eleifend, vitae malesuada ligula vehicula.
                    </p>                
            </div>
        </div>
    </div>
</div>
