.background-item {
    position: absolute;
    z-index: -2;
    height: 100%;
    width: 100%;
}
::-webkit-scrollbar{
    width: 6px;
}
::-webkit-scrollbar-track {
    background: #393E6F;
}
::-webkit-scrollbar-thumb {
    background: #393B44;
}
    ::-webkit-scrollbar-thumb:hover {
        background: #3D2E4F;
    }
body {
    color: white;
    background-image: url("Background.jpg");
}
.transparent-item {
    background-color: #3b444b90;
    color: white;
}

.spacer-horizontal{
    width: 100%;
    height: 5vh;
}
.cv-photo{
    height: 10vh;
    width: 10 vw;
}
.spread{
    flex-direction: column;
}